[Unit]
Description=Trading Bot
After=network.target

[Service]
User=brano
WorkingDirectory=/home/brano/Documents/python_skuska
ExecStart=/home/brano/Documents/python_skuska/venv/bin/python traiding.py
Restart=always

[Install]
WantedBy=multi-user.target
