[Unit]
Description=Wallet Status Bot
After=network.target

[Service]
User=traderpeter47
WorkingDirectory=/home/traderpeter47/Documents/python_skuska
ExecStart=/home/traderpeter47/Documents/python_skuska/venv/bin/python /home/traderpeter47/Documents/python_skuska/walet_status.py
Restart=always

[Install]
WantedBy=multi-user.target
